body {
    background-color: white;
    font-size: 25px;
    font-family: Jua;
}

div {
    line-height: 20px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

a {
    text-decoration-line: none;
    text-decoration-color: black;
    color: black;
}

a:hover {
    color: darkblue;
}

a:active {
    color: darkblue;
}

.chat {
    border: 0px solid;
    border-color: brown;
    border-right: 0;
    border-left: 0;
    padding: 20px;
}

.name {
    font-size: 30px;
    margin-top: 20px;
}

.talk {
    font-size: 15px;
    color: rgb(168, 168, 168);
    margin-top: 20px;
}

.date {
    font-size: 20px;
    color: rgb(168, 168, 168);
    float: right;
}

.num {
    font-size: 30px;
    color: rgb(168, 168, 168);
    margin-left: 10px;
}