body {
    background-color: #b3c3d2;
    font-size: 25px;
    font-family: Jua;
    padding-top: 50px;
}

a {
    text-decoration-line: none;
    color: black;
}

a:hover {
    color: darkblue;
}

a:active {
    color: darkblue;
}

.date {
    border: 1px solid;
    border-radius: 50px;
    background-color: lightgray;
    color: white;
    border-color: lightgray;
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.mysay {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: yellow;
    border-color: yellow;
    display: table;
    margin-left: auto;
    font-size: 30px;
    word-break: keep-all;
}

.othersay {
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-color: white;
    display: table;
    margin-right: auto;
    font-size: 30px;
}

.links {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border: 1px solid;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #b3c3d2;
    border-color: #b3c3d2;
    font-size: 30px;
}

.typing {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 40px;
    margin: 0;
    background-color: white;
    padding-bottom: 0;
    padding-left: 20px;
}

.imgli {
    width: 30px;
    height: 30px;
    border-radius: 0px;
    float: right;
    margin: 10px;
    margin-top: 5px;
}

.my_da {
    float: right;
    margin-right: 5px;
    font-size: 20px;
    color: black;
}